html, body {
    background: url(../images/playful-wall.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Jua', sans-serif;
    text-align: center;
  }

  .big-container {
    margin: 0 auto; /* Added */
    margin-top: 5%;
    float: none; /* Added */
    margin-bottom: 10%; /* Added */
    height:700px;

}
button{
    align-self: center;
    margin-top: 5%;
    margin-bottom:5%;

}
#currentQuestion{
    color:purple;
    font-size: 50px;
}
.question{
    font-size: 40px;
}
.answerList{
    height: 80%;
    
}
li{
    background-color:purple;
    width: 100%;
    height:20%;
    color:white;
    text-align: center;
    
}
li:hover{
    background-color:green;
}
#gif{
    margin-bottom:20%;
}
canvas{
    height:100%;
}